package cn.silence.dao.$!{cfg.abc}.service;

import cn.silence.dao.common.service.CommonService;
import cn.silence.dao.$!{cfg.abc}.entity.${entity};
import cn.silence.dao.$!{cfg.abc}.entity.${entity}Vo;

/**
 * <p>
 * $!{table.comment} 服务类
 * </p>
 *
 * @author ${author}
 * @since ${date}
 */
public interface ${table.serviceName}  extends CommonService<${entity}Vo,${entity}> {

}