package cn.silence.dao.$!{cfg.abc}.service;

import cn.silence.dao.common.service.CommonServiceImpl;
import cn.silence.dao.$!{cfg.abc}.entity.${entity};
import cn.silence.dao.$!{cfg.abc}.entity.${entity}Vo;
import cn.silence.dao.$!{cfg.abc}.mapper.${entity}Mapper;
import org.springframework.stereotype.Service;

import javax.annotation.Resource;


/**
 * <p>
 * $!{table.comment} 服务实现类
 * </p>
 *
 * @author ${author}
 * @since ${date}
 */
@Service
public class ${table.serviceImplName}  extends CommonServiceImpl<${entity}Vo,${entity}>  implements ${table.serviceName} {

    @Resource
    private ${entity}Mapper $!{cfg.abc}Mapper;
}
